body{
    background-color: #EDEDED;
    /* background-image:url("/img/bodyimg.jpg"); */
    margin: 0;
}

header{
    padding: 1em;
    text-align: center;
    background-image:url("/img/headerimg.jpg");
    background-size:cover;
    letter-spacing: 2px;
    margin: 0;
    filter: drop-shadow(0px 2px 12px black);
}

a{
    text-decoration: none;
}

header a p{
    color: whitesmoke;
    font-family: "Playfair Display", serif;
    font-weight: 472;
    font-size: 370%;
    font-style: normal;
    filter: drop-shadow(10px 10px 5px #000000);
}

nav{
    /* background: linear-gradient(180deg, #4444349c 0%, rgba(255,255,255,0) 33%); */
    margin: 0;
    display: flex;
    flex-direction: row;
}

nav ul{
    display: flex;
    margin: 0.7em;
    padding: 1em;
    list-style-type: none;
    height: 1px;
    width: auto;
    text-align: center;
    border-radius: 18px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 5px 1px #00000056);
    
    
}

nav ul:nth-child(1){
    background-color: #FFFFFF;
    
}

#Entre{
    color: #FFFFFF;
    font-size: larger;
    letter-spacing: 3px;
}

nav ul:nth-child(2){
    background-color: #444434;
    
}

#Cadastre{
    color:#444434;
    font-size: large;
    letter-spacing: 1px;
}

nav ul a{
    align-self: center;
    
}

#slogan{
    padding: 3px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
#slogan p {
    font-family: "Playfair Display", serif;
    font-style: normal;
    color: #444434;
    margin-bottom: 10px;
    margin-top: 10px;
}

#slogan p:first-child {
    font-weight: 700;
    font-size: 200%;
    letter-spacing: 2px;
}

#slogan p:nth-child(2) {
    font-weight: 200;
    font-size: 170%;
    letter-spacing: 1.3px;
    background-color: #444434;
    color: white;
    border-radius: 16px;
    width: 60%;
    height: 3em;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#Valor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#MoedaOrigem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#MoedaDestino{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#Valor label{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
    color: #444434;
}

#Valor input{
    background-color: #d6d6d6;
    width: 83%;
    border-radius: 6px;
    height: 1.7em;
    border: none;
    text-align: center;
}

#MoedaOrigem label{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
    color: #444434;
}

#MoedaOrigem select{
    background-color: #d6d6d6;
    width: 84%;
    border-radius: 6px;
    height: 1.7em;
    border: none;
    text-align: center;
}

#MoedaDestino label{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
    color: #444434;
}

#MoedaDestino select{
    background-color: #d6d6d6;
    width: 84%;
    border-radius: 6px;
    height: 1.7em;
    border: none;
    text-align: center;
}

form p{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 150%;
    letter-spacing: 3px;
    color: #444434;
}

form button{
    border: none;
    background-color: #444434;
    color: white;
    border-radius: 10px;
    height: 3em;
    filter: drop-shadow(0px 3px 1px #00000056);
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: larger;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

#Resultado{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

#Resultado h2{
    border: none;
    background-color: rgb(47, 226, 122);
    color: white;
    border-radius: 10px;
    height: 2em;

    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 1px;

    width: 32%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#Resultado span{
    font-family: Arial, Helvetica, sans-serif
}

