<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/cadastroRealizado.css">
        <title>
            Cadastro OK
        </title>
    </head>
    <body>
        <header>
            <a id='logo' th:href="@{/}">
                <p>Conversor de Moedas</p>
            </a>
        </header>
        <h1>
            Usuário cadastrado com sucesso!
        </h1>
    </body>
</html>